CompileFlags:
  Add:
    - -std=c++20
    - -Wall
    - -Wextra
    - -Werror
    - -Wpedantic
    - -Wshadow
    - -Wnon-virtual-dtor
    - -Wold-style-cast
    - -Wcast-align
    - -Wdouble-promotion
    - -Ithird_party/sdl2/include
    - -Ithird_party/imgui
    - -Ithird_party/imgui/backends
    - -Ithird_party/lz4
    - -Ivfs_core
